#projectbox {
  text-align: center;
}

.projects a {
  color: #cfcdc9;
  text-decoration: none;
  display:inline-flex;
  padding: 1rem;
  border: solid;
  border-radius: 10px;
  border-color:#28211c;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.projects a:hover {
  background-color: #cc694b;
}

@media only screen and (max-width: 814px) {
  .projects {
      display: block;

  text-align: center;
  }
}

@media only screen and (min-width: 815px) {
  .projects {
    display: flex;
      overflow: scroll;
      justify-content:space-around;

  text-align: center;
  }
}
