.projects {
  display: flex;
  overflow:scroll;
}

.projects ul {
  margin: 20px;
  padding: 20px;
  display:inline;
  text-align:center;
}

.projects ul li {
  padding: 10px;
  display: flex;
}

.projects ul a {
  margin: 5px;
  padding: 5px;
  border: solid;
  border-radius: 10px;
  border-color: #28211c;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.projects ul li a:hover {
  background-color: #cc694b;
}