@keyframes appeartop {
    0% {
        transform: translateY(-100vw);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes appearbottom {
    0% {
        transform: translateY(100vw);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes appearleft {
    0% {
        transform: translateX(-100vw);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes appearright {
    0% {
        transform: translateX(100vw);
        display: none;

    }

    100% {
        transform: translateX(0);
        display: block;
    }
}

@keyframes disappearleft {
    0% {
        transform: translateX(0);
        display: block;
    }

    100% {
        transform: translateX(100vw);
        display: none;
    }
}