@keyframes appearheader {
    0% {
        transform: translateY(-100vw);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes appearlinksrow {
    0% {
        transform: translateX(-100vw);

    }

    100% {
        transform: translateX(0);
    }
}


@keyframes appearcontent {
    0% {
        transform: translateX(100vw);
    }

    100% {
        transform: translateX(0);
    }
}



@keyframes disappearcontent {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100vw);
    }
}

@keyframes appearfooter {
    0% {
        transform: translate(-100vw, 100vw);
    }

    100% {
        transform: translate(0, 0);
    }
}