@font-face {
  font-family: "Code Mono";
  src: url("https://dtinth.github.io/comic-mono-font/ComicMono.ttf") format("truetype");
}

* {
  font-family: "Code Mono", monospace;
  color: var(--mtf-font-color);
}

body {
  background-color: var(--mtf-background-color);
}