body {
	background-color: #28211c;
}

@font-face {
	font-family: "Code Mono";
	src: url("https://dtinth.github.io/comic-mono-font/ComicMono.ttf") format("truetype");
}

body {
	font-family: "Code Mono", monospace;
    color: #cfcdc9;
}
/* Header Bar */ 
  .header-bar {
    flex-basis: calc(45% - 1rem);
    padding: 1rem;
    background-color: #28211c;
    border-radius: 5px;
    margin:20px;
    text-align: center;
  }

  .header-bar h1 {
    color: #cfcdc9;
    margin: 0;
    font-size: 2em;
  }

  .header-bar a {
    color: #cfcdc9;
    text-decoration: none;
  }

  .header-bar a:visited {
    color: #cfcdc9;
  }

  .header-links-row {
    flex-basis: calc(45% - 1rem);
    padding:20px;
    background-color: #28211c;
    border-radius: 5px;
    margin:20px;
    text-align: center;
  }
  
  .header-links-row a {
    color: #cfcdc9;
    text-decoration: none;
    margin: 0 10px;
    flex: 1;
    text-align: center;
  }
  
.header-links-row a:visited {
    color: #cfcdc9;
  }

/* Footnote */
.footnote {
    flex-basis: calc(45% - 1rem);
    padding: 20px;
    background-color: #28211c;
    border-radius: 5px;
    margin:20px;
    text-align: center;
  }
.footnote a {
    color: #cfcdc9;
    text-decoration: none;
    border-bottom: 1px solid #cfcdc9;
  }