/* root */

@font-face {
	font-family: "Code Mono";
	src: url("https://dtinth.github.io/comic-mono-font/ComicMono.ttf") format("truetype");
}

* {
	font-family: "Code Mono", monospace;
  color: #f8f8f2	;
}


body {
  background-color: #282a36;
}

/* box */

@media only screen and (max-width: 860px) {
  .box-wrapper {
    display: flexbox;
  }
  .headersplit {
    display: block;
  }
  .box {
    margin: 20px;
  }
}

@media only screen and (min-width: 861px) {
  .box-wrapper {
    display: flex;
    justify-content:space-around;
  }
  .headersplit {
    display: none;
  }
  .box {
    margin: 10px 20px;
  }
}


  .box {
    color: #f8f8f2;
    text-align: center;
    background-color: #44475a;
    border-style: solid;
    border-color: #6272a4;
    border-radius: 5px;
    padding: 20px;
    flex-basis: calc(100% - 20px);
  }


  .box a {
    color: #f8f8f2;
    text-decoration: none;
    display:inline-flex;
    padding: 5px 0.5vw;
    margin: 10px 0.2vw;
    border: solid;
    border-radius: 10px;
    border-color:#44475a;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }

  .box a:visited {
    color: #f8f8f2;
  }

  .box a:hover {
    background-color: #6272a4;
  }

  #header {
    animation: appeartop 1s ease;
  }

  #linksrow {
    animation: appearleft 1s ease;
  }

  #content {
    animation: appearright 1s ease;
  }

  #footnote {
    animation: appearbottom 1s ease;
  }


  @keyframes appeartop {
    0% {
      transform: translateY(-100vw);
    }
    25% {
      transform: translateY(0);
    }
  }

  @keyframes appearbottom {
    0% {
      transform: translateY(100vw);
    }
    25% {
      transform: translateY(100vw);
    }
    50% {
      transform: translateY(0);
    }
  }

  @keyframes appearleft {
    0% {
      transform: translateX(-100vw);
    }
    50% {
      transform: translateX(-100vw);
    }
    75% {
      transform: translateY(0);
    }
  }

  @keyframes appearright {
    0% {
      transform: translateX(100vw);
    }
    75% {
      transform: translateX(100vw);
    }
    100% {
      transform: translateY(0);
    }
  }


  .hidden {
    display: none;
  }

/** Palette	HEX	Color Picker
Background	#282a36	
Current Line	#44475a	
Foreground	#f8f8f2	
Comment	#6272a4	
Cyan	#8be9fd	
Green	#50fa7b	
Orange	#ffb86c	
Pink	#ff79c6	
Purple	#bd93f9	
Red	#ff5555	
Yellow	#f1fa8c
**/