#header {
    animation: appearheader 0.5s ease;
    height: 70px;
}

#linksrow {
    animation: appearlinksrow 0.5s ease;
    height: 70px;
}

.footnote {
    animation: appearfooter 0.5s ease;
}

#mainmain {  
    position: relative;
    height: calc(100vh - 500px);
 }

#main {
    width: 100%;
}

.box-shower {
    width: 100%;
    position: absolute;
}
