#header {
    animation: appearheader 1s ease;
    height: 90px;
}

#linksrow {
    animation: appearlinksrow 1s ease;
    height: 70px;
}

.footnote {
    animation: appearfooter 1s ease;
    position: relative;
    margin-top: 1%;
}

#mainmain {  
    position: relative;
 }

#main {
    width: 100%;
    position: relative;
}

.box-shower {
    width: 100%;
    height: 0%;
    position: relative;
    overflow: hidden;
    transition: height 0.5s ease;
}


#lightdark {
    position: absolute;
    top: 1vw;
    right: 6vw;
    font-size: 40px;
    border-color: #ffffff00;
}

#lightdark a:hover {
    background-color: #ffffff00;
    color: var(--mtf-font-color);
}

#darkmode
{
    display:none;
}

#lightmode {
    display:inline;
}

#service_icons {
    margin-left: 25%;
    width: 50%;
    position: relative;
    align-self: right;
}

a.service_icon {
    color: var(--mtf-font-color);
    font-size: 30px;
    min-width: 30px;
    min-height: 30px;
    text-align: center;
    text-justify: auto;
    background-color: var(--mtf-background-2-color);
    border-style: solid;
    border-color: var(--mtf-accent-color);
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
    transition: background-color 0.5s ease, color 0.5s ease;
}

#bookmarks {
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    width: 60%;
    height: calc(auto + 20%);
    position: absolute;
    display: none;
    opacity: 0;
    transition: opacity 1s ease;
}

bookmarks_close {
    left: 20px;
}
