.box {
    color: var(--mtf-font-color);
    text-align: center;
    background-color: var(--mtf-background-2-color);
    border-style: solid;
    border-color: var(--mtf-accent-color);
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
    flex-basis: 100%;
    transition: background-color 0.5s ease, color 0.5s ease;

}

.box a {
    color: var(--mtf-font-color);
    text-decoration: none;
    display: inline-flex;
    padding: 0.5% 0.5%;
    border: solid;
    border-radius: 10px;
    border-color: #ffffff00;
    text-decoration: none;
    transition: background-color 0.5s ease, color 0.5s ease;
}


.box a:visited {
    color: var(--mtf-font-color);
}

.box a:hover {
    background-color: var(--mtf-accent-color);
    color: var(--mtf-background-color);
}

#header {
    animation: appearheader 1s ease;
    height: 90px;
}

#linksrow {
    animation: appearlinksrow 1s ease;
    height: 70px;
}

.footnote {
    animation: appearfooter 1s ease;
    position: relative;
    margin-top: 1%;
}

#mainmain {
    position: relative;
 }

#main {
    width: 100%;
    position: relative;
}

.box-shower {
    width: 100%;
    height: 0%;
    position: relative;
    overflow: hidden;
    transition: height 0.5s ease;
}


#lightdark {
    position: absolute;
    top: 1vw;
    right: 6vw;
    font-size: 40px;
    border-color: #ffffff00;
}

#lightdark a:hover {
    background-color: #ffffff00;
    color: var(--mtf-font-color);
}

#search {
    animation: appearcontent 1s ease;
}

#darkmode
{
    display:none;
}

#lightmode {
    display:inline;
}

#service_icons {
    margin-left: 25%;
    width: 50%;
    position: relative;
    align-self: right;
    margin-right: 25%;
}

a.service_icon {
    color: var(--mtf-font-color);
    font-size: 30px;
    min-width: 30px;
    min-height: 30px;
    text-align: center;
    text-justify: auto;
    background-color: var(--mtf-background-2-color);
    border-style: solid;
    border-color: var(--mtf-accent-color);
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
    transition: background-color 0.5s ease, color 0.5s ease;
}

#bookmarks {
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    width: 60%;
    height: calc(auto + 20%);
    position: absolute;
    display: none;
    opacity: 0;
    transition: opacity 1s ease;
}

bookmarks_close {
    left: 20px;
}



@media only screen and (max-width: 860px) {
    .box-wrapper {
        display: block;
    }

    .headersplit {
        display: block;
    }

    #contact_logobox {
        max-width: none;
    }

    .contact_logo {
        min-width: 200px;
    }

    #service_icons {
        display: none;
    }
}

@media only screen and (min-width: 861px) {
    .box-wrapper {
        display: flex;
        justify-content: space-evenly;
    }

    .headersplit {
        display: none;
    }

    #contact_logobox {
        max-width: 35%;
    }

    .contact_logo {
        max-height: 100%;
        min-width: 200px;
    }

    #service_icons {
        display: block;
    }
}
