/* Set the background color to libadwaita's gray */
body {
	background-color: hsl(0, 0%, 20%);
}

/* Define a font face for Code Mono */
@font-face {
	font-family: "Code Mono";
	src: url("https://dtinth.github.io/comic-mono-font/ComicMono.ttf") format("truetype");
}

/* Set the font to Code Mono */
body {
	font-family: "Code Mono", monospace;
    color: hsl(0, 0%, 90%);
}

.header-bar {
  background-color: hsl(0, 0%, 20%);
  text-align: center;
  padding: 10px;
}

.header-bar h1 {
  color: hsl(0, 0%, 100%);
  margin: 0;
  font-size: 2em;
}

.header-bar a {
  color: hsl(0, 0%, 90%);
  text-decoration: none;
}

.header-bar a:visited {
  color: hsl(0, 0%, 90%);
}


.links-row {
    background-color: hsl(0, 0%, 10%);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
  
  .links-row a {
    color: hsl(0, 0%, 90%);
    text-decoration: none;
    margin: 0 10px;
    flex: 1;
    text-align: center;
  }
  
  .links-row a:visited {
    color: hsl(0, 0%, 90%);
  }

  .body-text {
    color: hsl(0, 0%, 90%);
    text-decoration: none;
    margin: 0 10px;
    flex: 1;
    text-align: center;
  }
  .services-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 2rem;
  }
  .services-box {
    flex-basis: calc(45% - 1rem);
    padding: 1rem;
    background-color: hsl(0, 0%, 10%);
    border-radius: 5px;
    box-shadow: 0 0 5px hsla(0, 0%, 0%, 0.302);
    margin-bottom: 1rem;
    text-align: center;
  }
  .services-box ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .services-box ul li {
    margin: 0.5rem 0;
  }
  .services-box ul li a {
    display: block;
    padding: 0.5rem;
    color: hsl(0, 0%, 90%);
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  .services-box ul li a:hover {
    background-color: hsl(0, 0%, 50%);
  }
  .footnote {
    background-color: hsl(0, 0%, 10%);
    margin-top: 2rem;
    padding: 1rem;
    text-align: center;
  }
  .footnote a {
    color: hsl(0, 0%, 80%);
    text-decoration: none;
    border-bottom: 1px solid hsl(0, 0%, 80%);
  }