@import "base.css";
@import "boxes.css";
@import "box_ids.css";
@import "animations.css";





.search-box input {
    outline: none;
    width: calc(80% - 150px);
    height: 30px;
}

.search-box button {
    height: 30px;
}

.contact_logo {
    max-width: 100%;
    background-color: #282828;
    border-style: solid;
    border-color: #689d6a;
    border-radius: 5px;
    margin: 10px 0px 0px 0px;
}

/** Palette	HEX	Color Picker
Background	#282828	 (Background)
Foreground	#ebdbb2	 (Text)
Blue	#458588	
Green	#98971a	 
Cyan	#689d6a	(Border)
Magenta	#b16286	
Purple	#bd93f9	
Red	#cc241d	
Yellow	#d79921
Current Line	#a89984	
Comment	#928374	
**/