.logo {
    max-width: 100%;
    background-color: #44475a;
    border-style: solid;
    border-color: #6272a4;
    border-radius: 5px;
    margin: 10px 0px 0px 0px;
}


@media only screen and (max-width: 860px) {
    

    #logobox {
        max-width: none;
    }
    .logo {
        min-width: 200px;
    }
}

@media only screen and (min-width: 861px) {
    
    #logobox {
        max-width: 35vw;
    }
    .logo {
        max-height: 40vw;
        min-width: 200px;
    }
}
