.logo {
    max-width: 100%;
    max-height: 30rem;
    min-width: 200px;
    border-radius: 15px;
}

.contact {
    overflow: scroll;
    justify-content:space-around;
}

#contactbox {
    max-width: min-content;

}

#logobox {
    max-width: 485px;
}