.services {
  display: flex;
}

.services ul {
  margin: 20px;
  padding: 20px;
  display: inline;
  text-align: justify;
}

.services ul li {
  padding:10px;
}

.services ul a {
  margin: 5px;
  padding: 5px;
  border: solid;
  border-radius: 10px;
  border-color: #28211c;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.services ul li a:hover {
  background-color: #cc694b;
}