
table {
    width: 100%;
}
th {
    color: #f8f8f2;
    text-align: center;
    background-color: #44475a;
    border-style: solid;
    border-color: #6272a4;
    border-radius: 5px;
    margin: 5px;
    padding: 20px 20px;
    flex-basis: calc(100% - 20px);
}


@media only screen and (max-width: 860px) {

}
@media only screen and (min-width: 861px) {
    #habituspic {
        max-width: max-content;
        min-width: 300px;
    }
}